@import url('https://fonts.googleapis.com/css2?family=Berkshire+Swash&family=Dancing+Script&display=swap');

#expresso {
    height: 9rem;
    width: 18rem;
    border-radius: 10px;
    margin-right: 20px;
    box-shadow: 5px 10px #4d4d4d52;
}

.line{
    border-top-color:red;
    width: 40%;
}

#mocha{
    height: 20rem;
    width: 18rem;
    border-radius: 10px;
    margin-right: 20px;
    box-shadow: 5px 10px #4d4d4d52;
}

th{
    background-color: #591902;
}

tr th{
    color:#fff;
}

td{
    background-color: #f29d35;
}

.desc{
    margin-left: 10px;
}

.classificacao{
    text-align: center;
    margin:10px;
}   

h2{
    margin-top: 20px;
    margin-bottom: 1px;
}

.flex{
    display: flex;
    flex-direction: row;
}
.justify{
    text-align: justify;
    font-family: 'Dancing Script', cursive;
}

article{
    margin-bottom: 20px;
    margin-top: 20px;
}

.titulo{
    font-family: 'Berkshire Swash', sans-serif, cursive;
}

footer{
    font-family: 'Dancing Script', sans-serif, cursive;
}

#img{
    height: 700px;
    width:100%;
    background-image: url('./Assets/cofee.jpg');
    background-repeat: no-repeat;
    position: relative;
    background-size: cover;
    display: inline-block;
}
h1{
    padding: 2rem;
    color:#fff;
    position:absolute;
    bottom: 12rem;
    background-color: #591902bb;
}

